.main-nav {
  display: flex;
  background-color: #444941;
  justify-content: space-between;
}
.sub-nav {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.main-nav,
.sub-nav {
  font-family: Impact;
  font-weight: 275;
}
@media (max-width: 769px) {
  .horizontal.nav-list.full-width {
    display: none;
  }
  .horizontal.nav-list.short-width {
    display: flex;
  }
}
@media (min-width: 768px) {
  .horizontal.nav-list.full-width {
    display: flex;
  }
  .horizontal.nav-list.short-width {
    display: none;
  }
}
.horizontal.nav-list.full-width {
  display: flex;
}
.nav-list {
  list-style: none;
}
.nav-list a {
  padding: 5px;
  border-right: black 2px solid;
}
.nav-list li:last-of-type a {
  border-right: none;
}
.search-form {
  width: 100%;
  display: flex;
}
.company-name {
  font-weight: bolder;
  margin: 5px;
  font-family: Georgia;
  font-size: 2rem;
}
.credit-offer {
  border: black solid 2px;
  background-color: red;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  color: white;
}
button {
  padding: 1px;
}
.search-form {
  display: flex;
  flex: 1;
}
input {
  flex-grow: 1;
}
.main-nav a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}
