.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: inherit "Open Sans", "Helvetica Neue", sans-serif;
  align-items: flex-end;
  flex-grow: 1;
  background-color: #7fc8a9;
}
.item {
  display: flex;
  flex-direction: column;
  flex: 2 1 0;
  margin-bottom: 12px;
  margin-right: 12px;
  box-shadow: 0 2px 5px -2px black;
}
.item-name,
.fact-line {
  background-color: #d5eebb;
}
.item-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 2px;
}
.add-item {
  background-color: black;
  color: white;
  border-radius: 50%;
}
.fact-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
}
.item-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .item {
    font-size: larger;
    flex-basis: 100%;
    flex-direction: column;
  }
}
